* {
    box-sizing: border-box;
}

:root {
    --body: #401208;
    --body2: #0D0D0D;
    --main-background: #BF8F73;
    --menu-text: invert(1);
    /*--menu-text: #8C5D42;*/
    --main-text: #F2E4F0;
}

body {
    margin: 0;
    background: linear-gradient(var(--body), var(--body2));
    /*background: var(--body);*/
}

body::-webkit-scrollbar {
    display: none;
}

.content {
    width: 1000px;
    min-width: 33.33%;
    max-width: 80%;
    margin: auto;
    box-shadow: black 0 0 40px;
}

.top_bar {
    margin: auto;
    box-shadow: black 0 0 20px 20px inset;
}

.wrapper-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 4vh 0 8vh black inset, -4vh 0 8vh black inset;
}

.menu-item:not(.menu--main):hover {
    height: 25vh;
}

.menu-item.menu--main {
    position: sticky;
    top: 0;
}

.menu--main {
    background-image: url(../images/saxonia.jpg);
    height: 25vh;
}

.menu--posts {
    background-image: url(../images/posts.jpg);
}

.menu--brands {
    background-image: url(../images/Omega.jpg);
}

.menu--watches {
    background-image: url(../images/watches.jpg);
}

.menu-item--inner {
    font-family: 'Quicksand', sans-serif;
    font-size: calc(24px + 5vh);
    line-height: 30px;
    padding: 5px;
    transition: 0.25s;
    text-decoration: none;
    color: var(--menu-text);
}

.main {
    font-size: 0;
    min-height: calc(60vh + 300px);
    background: var(--main-background);
}

.main-item {
    display: inline-block;
    width: 33.33%;
    padding: 20px;
}

.main-item--inner {
    font-size: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 30vh;
    padding: 5px;
    color: var(--main-text);
}


.main-item--inner::-webkit-scrollbar-track {
}

.main-item--inner::-webkit-scrollbar {
    width: 2%;
    border-radius: 5px;
}

.main-item--inner::-webkit-scrollbar-thumb {
    border: 1px solid #222;
    border-radius: 10px;
    background-color: #111;
}